  <div class="contenedorAdmin">
      {{#if mensaje}}
          <h3>{{mensaje}}</h3>
          <img src="https:
          {{else}}
          <h4>Solo pueden ingresar administradores</h4>
      {{/if}}

  </div>